.header {
  color: #fff;
  border-bottom: 1px solid #05728f;
  padding: 1em 4em;
  background: #05728f;
}
.current-group-leader-container {
  padding: 0px 120px;
  font-size: 0.9em;
  vertical-align: middle;
  color: #05728f;
}

.leader-txtarea {
  margin-left: 15px;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
  resize: none;
  border: none;
}
.new_group_details {
  padding: 0px 90px;
}

.update_details_headers {
  color: #05728f;
  margin-top: 50px;
}
.new_group_name {
  font-size: 20px;
  size: small;
}
.new_group_description {
  margin-bottom: 55px;
  size: small;
  font-size: 16px;
}
.update_leaders-container {
  padding: 0 90px;
}
