#taskboard-container {
  .taskboard-navbar {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    p {
      margin: 0.5em;
    }
  }
  .taskboard-canvas {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    .taskboard {
      white-space: nowrap;
      margin-bottom: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 8px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
