#taskboard-container {
  .taskboard-canvas {
    position: relative;
    margin: 0 0.5em;
    flex-grow: 1;
    height: 92vh;
    width: 100vw;
    .taskboard {
      white-space: nowrap;
      margin-bottom: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .loading-lockup {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.taskboard-error-lockup {
  margin-top: 5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  h5 {
    margin-bottom: 0.5em;
  }
}
