#task-column-container {
  width: 15em;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: pre-wrap;
  background-color: #ebecf0;
  border-radius: 15px;
  padding: 0.25em 0.75em;
  overflow-y: auto;
  .task-list {
    display: flex;
    flex-flow: column nowrap;
  }
}
